/* colors:
primary -#1976d2; - white text
light - #63a4ff; - black text
dark - #004ba0; -white text

secondary - #ff7043 - black text
light - #ffa270 - black text 
dark - #c63f17 - white text

*/

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

/* select colors that arent just white/black
think about colors that can surround content and make it pop */
/* use grey from background eith name for text and then use same color of heading text for about me */

body {
    background-color: #1976d2;
    font-family: 'Roboto Mono', monospace;
}

#navbar {
    background-color: #004ba0;
    color: rgb(219, 219, 219);
    font-size: 16px;
    padding: 1em;
}

.nav-name {
    align-self: center;
}

.nav-link {
    /* display: inline-block; */
    text-align: center;
    padding-right: 1em;
}

.nav-right-options{
    color: rgb(219, 219, 219);
}

.nav-right-options:hover {
    color:#ffa270;
}


#welcome {
    padding: 2em;
    width: 100%;
    text-align: center;
    background-color: rgb(219, 219, 219);
    color:rgb(58, 58, 58);
}

.welcome-text {
    text-align: center;
    width: 100%;
}

#headshot {
    border-radius: 50%;
    width: 30%;
}

.welcome-section {
    margin: 2%;
}

.welcome-section div {
    padding: 0.3em;
}

#welcome-name {
    font-size: 50px;
    font-weight: bold;
}

#job-title {
    font-size: 30px;
}

.contact-icon {
    display: inline-block;
    font-size: 40px;
}

.bio-text {
    background-color: rgb(219, 219, 219);
    color:rgb(58, 58, 58);
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
}

.bio-text div {
    margin: 2%;
}

.bio-header {
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.bio-main-text {
    font-size: 16px;
}


.skills-header {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 32px;
}

.skills-section {
    background-color: #ff7043;
    font-family: 'Roboto Mono', monospace;
    color: rgb(58, 58, 58);
    padding: 1em;
    margin-top: 1em;
}

.skill-icon {
   font-size: 50px;
   margin-top: 10px;
}

.projects-section {
    background-color: #ff7043;
    color: rgb(58, 58, 58);
    font-family: 'Roboto Mono', monospace;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.projects-header {
    text-decoration: underline;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
}

.project {
    background-color: rgb(219, 219, 219);
    margin-bottom: 2em;
    width: 100%;
}

.project div{
    text-align: center;
    margin: 1em;
}

.project-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 2vw;
}

.project-image img {
    width: 100%;
}

.project-description {
   font-size: 1.5vw;
}

.contact-section {
    text-align: center;
    background-color: rgb(219, 219, 219);
    color: rgb(58, 58, 58);
    font-family: 'Roboto Mono', monospace;
    padding: 1em;
}

.contact-section div {
    padding: 0.3em;
}

.contact-header {
    text-decoration: underline;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.contact-text {
    font-size: 16px;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
}

#copyright-bar {
    background-color: #004ba0;
    color: rgb(219, 219, 219);
    font-size: 16px;
    padding: 1em;
    margin-top: 1em;
}