/* colors:
primary -#1976d2; - white text
light - #63a4ff; - black text
dark - #004ba0; -white text

secondary - #ff7043 - black text
light - #ffa270 - black text 
dark - #c63f17 - white text

for text: 
background-color: rgb(219, 219, 219);
color:rgb(58, 58, 58);
*/

body {
    background-color: #1976d2;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

body * {
    box-sizing: inherit;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* main container */

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* backdrop */

#backdrop {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

/* Navbar */

.navbar {
    position: fixed;
    padding: 0.5rem;
    top: 0;
    width: 100%;
    height: 4.3rem; 
    background-color: #004ba0;
    color: rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar div {
    margin: 0 1rem;
}

.nav-name {
    font-size: 1.2rem;
    margin-left: 1rem;
    width: 100%;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    text-decoration: none;
    color: rgb(219, 219, 219);
}

.nav-link:hover,
.nav-link:active {
    color: #ffa270;
    text-decoration: underline;
}

.nav-right-options {
    display: none;
}


.nav-toggle-icon {
    position: relative;
    margin-right: 1rem;
    font-size: 1.5rem;
}


.nav-toggle-icon:hover,
.nav-toggle-icon:active {
    cursor: pointer;
    color: #ffa270;
}

/* Mobile Nav */


.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    width: 40%;
    margin-top: 5.3rem;
  }
  
  .mobile-nav-options {
    list-style: none;
    margin: 0.25rem auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav-option {
    background: #c63f17;
    color: rgb(219, 219, 219);
    border: 2px solid rgb(58, 58, 58);
    margin: 0.25rem;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }

/* Welcome */

#welcome {
    color:rgb(58, 58, 58);
    background-color: rgb(219, 219, 219);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 4.3rem;
}

#welcome .text {
    max-width: 40.6rem;
    width: 80%;
    text-align: center;
}

.name {
    font-size: 2.6rem;
}

.job-title {
    font-size: 1.5rem;
}

.mini-bio {
    text-align: center;
    max-width: 40.6rem;
}

.headshot {
    width: 100%;
    max-width: 12rem;
    border-radius: 50%;
}


/* about me */

#about-me {
    background-color: rgb(219, 219, 219);
    color:rgb(58, 58, 58);
    width: 80%;
    max-width: 40.6rem;
    margin-top: 5.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio-text {
    text-align: left;
}

/* Skills */

#skills {
    background-color: #ff7043;
    color:rgb(58, 58, 58);
    width: 80%;
    max-width: 650px;
    margin-top: 5.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill-icons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.skill-icon {
    width: 100%;
    flex-basis: 33%;
    font-size: 3rem;
    flex-shrink: 1;
    margin: 0 auto;
    padding: 0.25rem;
}

.skill-name {
    font-size: 1rem;
    min-width: 6rem;
}

/* Projects */

#projects {
    background-color: #ff7043;
    color:rgb(58, 58, 58);
    width: 80%;
    max-width: 40.6rem;
    margin-top: 5.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
}

.project {
    color:rgb(58, 58, 58);
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.project-picture {
    width: 90%;
    max-height: 20.8rem;
}

.project-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-button {
    font-family: 'Open Sans', sans-serif;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #004ba0;
    color: rgb(219, 219, 219);
}

/* Contact-Me */

#contact-me {
    background-color: rgb(219, 219, 219);
    color:rgb(58, 58, 58);
    width: 80%;
    max-width: 40.6rem;
    margin-top: 5.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-icons {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.contact-icon {
    margin: 1rem;
    color:rgb(58, 58, 58);
    text-decoration: none;
}

.contact-icon i:hover{
    color: #c63f17;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

/* Footer */

#footer {
    width: 100%;
    bottom: 0;
    margin-top: 5.3rem;
    padding: 1rem 0;
    background-color: #004ba0;
    color: rgb(219, 219, 219);
}

.copyright-text {
    margin-left: 1rem;
}

/* media queries */

@media (min-width:38rem){
    #backdrop {
        display: none;
    }

    .nav-toggle-icon {
        display: none;
    }

    .nav-right-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
    }
    
    .nav-right-option {
        display: inline-block;
        margin-right: 2rem;
    }

    .mobile-nav-options {
        display: none;
    }
} 