/* colors:
primary -#1976d2; - white text
light - #63a4ff; - black text
dark - #004ba0; -white text

secondary - #ff7043 - black text
light - #ffa270 - black text 
dark - #c63f17 - white text

*/

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

/* select colors that arent just white/black
think about colors that can surround content and make it pop */

body {
    background-color: #1976d2;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#navbar {
    background-color: #004ba0;
    font-size: 1.25vw;
    padding: 1em;
}

.nav-name {
    align-self: center;
}

.nav-link {
    display: inline-block;
    padding-right: 1em;
}

.nav-right-options{
    color: rgb(219, 219, 219);
}

.nav-right-options:hover {
    color:#ffa270;
}


#welcome {
    padding: 2em;
    width: 100%;
    text-align: center;
    background-color: white;
    color:rgb(58, 58, 58);
}

.welcome-text {
    text-align: center;
    width: 100%;
}

#headshot {
    border-radius: 50%;
    width: 20%;
}

.name {
    margin: 2%;
}

#welcome-name {
    font-size: 4vw;
    font-weight: bold;
}

#job-title {
    font-size: 2vw;
}

#bio {
    background-color: #ff7043;
    color: rgb(26, 26, 26);
}